{% extends "layout.html" %}

{% block body %}

<div id="technologies" data-w-id="22266a8a-14f6-d4f6-86d9-700c643e50e1" class="frame-works-section">
    <div class="container">
      <div class="inner-body">
        <div class="grid-block">
          <div class="heading-block _w-526">
            <h2 class="heading-48 margin-bottom">Experts in various technologies.</h2><div class="font-size-18">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut vitae repudiandae voluptatum repellendus alias nesciunt recusandae eos sint totam voluptatibus. Recusandae consectetur repudiandae dicta ullam doloribus? Enim quas vel totam.</div>
          </div>
          <div id="w-node-_0a21d815-133a-0b37-fcef-31ed076a680e-cb655e95" class="right-circle-img">
            <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63df4a23d3e9be367a7a2e18_Group%20427321641.svg" loading="lazy" alt="latest-technologies-for-building-saas-products" class="outer-circle-image" /><img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63df4a273700f0f429c42903_Group%20427321645.svg" loading="lazy" data-w-id="c39e369d-04e7-5492-593c-245df3a8b673" alt="reactjs-nodejs-python-aws-gcp-ruby-on-rails-tensorflow-iot-bubble-full-stack-development" class="moving-circle-img" /><img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63df4a276af00bacbd4ca369_Group%20427321644.svg" loading="lazy" alt="technologia-solutions-llc-logo" class="inner-circle-fill" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="faq-section">
    <div class="line-top"></div>
    <div class="container">
      <div class="inner-body margin-top">
        <div class="faq-wrapper">
          <div id="w-node-_43e5da76-ddca-0e63-f258-559fe7795355-cb655e95" class="left-block">
            <div class="top-heading">
              <div class="t-14-500">Faq’s</div><h2 class="heading-48">Frequently Asked Questions</h2>
            </div>
            <div class="bottom-links">
              <div class="t-14-400">Couldn’t find what you were looking for?write to us at</div><a href="mailto:dkanuth@code-fu.net.ni" target="_blank" class="link">dkanuth@code-fu.net.ni</a>
            </div>
          </div>
          <div id="w-node-_190501b8-7f10-511d-b8ff-eaf2ef695084-cb655e95" class="right-block">
            <div class="faq-blocks">
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div>How long does it take to order products?</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="answer">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores exercitationem officia ducimus, quo autem quasi repellendus voluptas reiciendis quaerat non excepturi. Dolore necessitatibus eum totam officia consequuntur nobis quam ratione.
                    </p>
                  </div>
                </nav>
              </div>
            </div>
            <div class="faq-blocks">
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-8">What type of support do you offer for my pets?</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="answer">
                    <p>
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At illo voluptatibus, sequi culpa reiciendis iusto. Ipsam dignissimos aspernatur, fuga fugit mollitia, consectetur sed, corrupti perspiciatis magni alias ullam modi vero?
                    </p>
                  </div>
                </nav>
              </div>
            </div>
            <div class="faq-blocks">
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div>What are the cares provided to my pet?</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="answer">
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae optio animi nostrum harum omnis voluptatum minima iure saepe dolores autem, et assumenda laborum veniam molestiae aperiam ipsum consequatur quas aliquam.
                    </p>
                  </div>
                </nav>
              </div>
            </div>
            <div class="faq-blocks no-border">
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle w-dropdown-toggle">
                  <div class="icon w-icon-dropdown-toggle"></div>
                  <div class="text-block-9">How can I get one?</div>
                </div>
                <nav class="dropdown-list w-dropdown-list">
                  <div class="answer">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam officia quibusdam numquam velit. Vel ad nobis labore et vitae corrupti rem, quae rerum dolorum, laboriosam ipsum quos, dolorem aliquam esse?
                    </p>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="blog" class="news-section">
    <div class="container">
      <div class="inner-body">
        <div class="grid-wrapper">
          <div id="w-node-_06786c6c-439e-a136-2fb8-e8d742addced-cb655e95" class="left-side">
            <h2 class="heading-48 margin-bottom">Our latest news and articles</h2><div class="t-18-500">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim ut sequi, unde quisquam, explicabo delectus accusantium nesciunt eveniet, nam error deserunt asperiores earum minima saepe. Beatae, quam nesciunt. Quasi, iure!</div><a href="https://www.uni.edu.ni/" class="primary-cta mt-60 w-button">See Articles</a>
          </div>
          <div id="w-node-_4cbcf203-4ea0-777c-3b41-d1084dfc5253-cb655e95" class="w-dyn-list">
            <div role="list" class="collection-list-2 w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a href="https://www.youtube.com/watch?v=rpwD50v0Ubo" class="cards w-inline-block" target="_blank">
                  <img src="https://uploads-ssl.webflow.com/63d9c3dcbe1160054554a19f/63d9c3e175e816155983961e_image4.jpeg" loading="lazy" alt="" class="image" /><div class="data-block">
                    <div class="category">TUTORIALS</div>
                    <div class="discrption">How to add SEO best practises into your webflow sites...</div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a href="https://www.youtube.com/watch?v=1ENiVwk8idM" class="cards w-inline-block" target="_blank">
                  <img src="https://uploads-ssl.webflow.com/63d9c3dcbe1160054554a19f/63d9c3e175e816155983961e_image4.jpeg" loading="lazy" alt="" class="image" /><div class="data-block">
                    <div class="category">BUSINESS</div>
                    <div class="discrption">How to enter the world of Arduino?</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about" class="why-choose-setion">
    <div class="container">
      <div class="slider-inner-wrapper">
        <div class="left-side-sticky">
          <div class="content-sticky">
            <div class="t-14">ABOUT</div><h2 class="heading-47 mb-21">Why<span class="text-span-2"></span><span class="color">Choose Us?</span></h2><div class="sub-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio reiciendis deleniti aspernatur in laborum dolore doloremque incidunt voluptates numquam sequi, nihil animi perspiciatis qui ea voluptate maiores accusamus quaerat harum.</div><a href="#touchhh" class="primary-cta w-button">Free Consultation</a>
          </div>
        </div>
        <div class="right-track">
          <section class="uui-section_layout88">
            <div class="uui-page-padding-4">
              <div class="uui-container-large-3">
                <div class="uui-padding-vertical-xhuge-4">
                  <div class="w-layout-grid uui-layout88_list">
                    <div class="uui-layout88_item">
                      <div class="uui-layout88_item-content">
                        <div class="icon-featured-square-large">
                          <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63dcd10ca88f45ab8b7f1761_hand-heart-fill.svg" loading="lazy" alt="maximize-your-business-roi-icon" class="uui-icon-1x1-xsmall" />
                        </div>
                        <div class="uui-space-xxlarge"></div><h3 class="uui-heading-xxsmall-2">Made with love</h3><div class="uui-space-xxsmall"></div>
                        <div class="uui-text-size-medium-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error accusantium nostrum porro dolore excepturi repellendus aliquam soluta mollitia nam, maiores adipisci magni dolores rerum veniam sed eaque, ex assumenda exercitationem!</div>
                      </div>
                    </div>
                    <div class="uui-layout88_item">
                      <div class="uui-layout88_item-content">
                        <div class="icon-featured-square-large">
                          <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63dcd0aa42c1b8315f08eda1_vip-crown-fill.svg" loading="lazy" alt="leading-feature-icon" class="uui-icon-1x1-xsmall" />
                        </div>
                        <div class="uui-space-xxlarge"></div><h3 class="uui-heading-xxsmall-2"><strong>Customized to Perfection</strong></h3><div class="uui-space-xxsmall"></div>
                        <div class="uui-text-size-medium-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repudiandae adipisci veniam sint optio, doloremque dicta facilis reprehenderit rerum porro quam accusantium, nesciunt voluptatem quaerat aut provident? Tempore, harum ducimus.</div>
                      </div>
                    </div>
                    <div class="uui-layout88_item">
                      <div class="uui-layout88_item-content">
                        <div class="icon-featured-square-large">
                          <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63dcd0aa42c1b8315f08eda1_vip-crown-fill.svg" loading="lazy" alt="leading-feature-icon" class="uui-icon-1x1-xsmall" />
                        </div>
                        <div class="uui-space-xxlarge"></div><h3 class="uui-heading-xxsmall-2"><strong>Scalability at Its Finest</strong></h3><div class="uui-space-xxsmall"></div>
                        <div class="uui-text-size-medium-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore consectetur fuga accusamus fugit eveniet dolores facilis odio. Exercitationem dolorum ab obcaecati vel nam, vitae omnis aliquam aspernatur quod eum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque iusto cumque cum earum quae, mollitia similique asperiores laborum reprehenderit delectus magnam obcaecati fuga voluptas possimus. Doloremque ab eaque sit quibusdam.</div>
                      </div>
                    </div>
                    <div class="uui-layout88_item">
                      <div class="uui-layout88_item-content">
                        <div class="icon-featured-square-large">
                          <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63dcd0aa42c1b8315f08eda1_vip-crown-fill.svg" loading="lazy" alt="leading-feature-icon" class="uui-icon-1x1-xsmall" />
                        </div>
                        <div class="uui-space-xxlarge"></div><h3 class="uui-heading-xxsmall-2"><strong>All Your Pets Needs</strong></h3><div class="uui-space-xxsmall"></div>
                        <div class="uui-text-size-medium-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, eaque. Fugit, labore numquam in placeat nihil porro laboriosam deserunt beatae eum obcaecati velit rerum id quae iste quisquam ex quis?
                        Error eos dicta, fugit vitae quidem maxime eius molestiae esse amet obcaecati dolorem animi ab est adipisci aspernatur. Doloremque nisi corrupti architecto, ut quaerat itaque vel commodi iure fugiat id.
                        </div>
                      </div>
                    </div>
                    <div class="uui-layout88_item">
                      <div class="uui-layout88_item-content">
                        <div class="icon-featured-square-large">
                          <img src="https://uploads-ssl.webflow.com/63d81305e2cf1d1625655e94/63dcd0aa42c1b8315f08eda1_vip-crown-fill.svg" loading="lazy" alt="leading-feature-icon" class="uui-icon-1x1-xsmall" />
                        </div>
                        <div class="uui-space-xxlarge"></div><h3 class="uui-heading-xxsmall-2"><strong>Unbeatable Data Security</strong></h3><div class="uui-space-xxsmall"></div>
                        <div class="uui-text-size-medium-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non nam ducimus, ullam labore corrupti nemo voluptatibus eaque ad quae ab reiciendis dolores nisi esse, quo beatae sequi quod iure consequuntur!</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

{% endblock %}