{% extends "layout_dash.html" %}

{% block config %}active{% endblock  %}

{% block title %}Settings{% endblock  %}

{% block body %}
<div class="content">
    <div class="card">
    <div class="row">
        <div class="col-md-8">
                <div class="card-header">
                    <h5 class="title">links and profile picture</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="{{ url_for('submit_links') }}" enctype="multipart/form-data">
                      {{ form.hidden_tag() }}
                    
                        <div class="row">
                            <div class="col-md-7 pr-md-1">
                                <div class="form-group">
                                    <label for="{{ form.profile_picture.id }}">Profile Picture (click to choise):</label>
                                    {{ form.profile_picture(class="form-control") }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 pl-md-1">
                                <div class="form-group">
                                    <label> Twitter Link </label>
                                    {{ form.twitter_link(class="form-control") }}
                                </div>
                            </div>
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>facebook Link</label>
                                    {{ form.facebook_link (class="form-control") }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-fill btn-primary") }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      
    </div>
</div>
{% endblock  %}